* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D071F9;
    padding: 0 10px;
}

.container {
    border: 2px solid black;
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
}

.container .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #D071F9;
    text-transform: uppercase;
    text-align: center;
}

.container .form {
    width: 100%;
}

.container .form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.container .form .input_field label {
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
}

.container .form .input_field .input {
    width: 100%;
    outline: none;
    border: 1px solid #D071F9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.container .form .input_field .input:focus {
    border: 1px solid #fec107;
}

.container .form .input_field .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    background: #D071F9;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.container .form .input_field:last-child {
    margin-bottom: 0;
}

.container .form .input_field .btn:hover {
    background: purple;
}